<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzl.oamanages.shiro.mapper.OaMenuMapper">

    <select id="findMenuByMid" resultType="com.qzl.oamanages.shiro.entity.OaMenu">

            SELECT  m.* FROM `oa_menu` m
                         LEFT JOIN `oa_role_menu` rm ON rm.`mid` = m.id
                         LEFT JOIN `oa_role_user` ru ON ru.`rid` = rm.`rid`
            WHERE ru.`uid` = #{rid}

    </select>
    <select id="findMenuByParentId" resultType="com.qzl.oamanages.shiro.entity.OaMenu">
        SELECT * FROM `oa_menu` WHERE parent_id = '${parentid}' and `rank` = 0
    </select>

    <select id="allMenu" resultType="com.qzl.oamanages.shiro.entity.OaMenu">
        select * from oa_menu where `rank` = 0
    </select>
    <select id="menuById" resultType="com.qzl.oamanages.shiro.entity.OaMenu">
        select * from oa_menu where id = #{id} and `rank` = 0
    </select>
    <select id="menusByRole" resultType="com.qzl.oamanages.shiro.entity.OaMenu">
        SELECT * FROM oa_menu WHERE id IN ( SELECT `mid` FROM oa_role_menu WHERE rid = #{rid}) and `rank` = 0
    </select>
    <insert id="addMenu">
        INSERT INTO `oa_menu` (
            `name`,
            `parent_id`,
            `icon`,
            `url`,
            `permission`,
            `rank`
        )
        VALUES
        (
            #{name},
            #{parentId},
            #{icon},
            #{url},
            #{permission},
            0
        )
    </insert>
    <update id="editMenu">
        UPDATE
            `oa_menu`
        SET
            `name` = #{name},
            `icon` = #{icon},
            `url` = #{url},
            `permission` = #{permission}
        WHERE `id` = #{id}
    </update>
    <update id="delMenu">
        UPDATE
            `oa_menu`
        SET
            `rank` = 1
        WHERE `id` = #{id}
    </update>
</mapper>